.dashboardContainer {
  display: flex;
}

.boardContainer {
  width: 80%;
  position: relative;
}

.boardHeadingBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.boardHeadingContainer {
  display: flex;
  gap: 25px;
  margin-left: 25px;
}
.boardHeading {
  font-size: 23px;
  font-weight: 500;
}
/* add people */
.addPeopleIcon {
  width: 20px;
  height: 20px;
  margin-top: 6px;
}
.addpeopleContainer {
  display: flex;
  gap: 8px;
}
.addPeople {
  color: #707070;
  font-size: 16px;
  margin-top: 4px;
  font-weight: 400;
}

/* filter dropdown */
.dropdownHeading {
  margin-right: 25px;
  display: flex;
  gap: 6px;
  cursor: pointer;
}
.dropdownIcon {
  width: 11px;
  height: 11px;
  margin-top: 7px;
  transition: transform 0.3s ease;
}
.dropdownHeadingText {
  color: #000000;
}

/* filter popup */
.filterPopup {
  position: absolute;
  top: 128px;
  right: 58px;
  border-radius: 12px;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 153px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none; /* To disable interaction when hidden */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.filermenue {
  padding: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 10px;
}

/*filter trangition*/
.Filtershow {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.FilterIconReverse {
  transform: rotate(180deg);
}

.filermenue:hover {
  background-color: #f0f0f0;
}

/* add people trangistion */
.addpeopleContainer {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.addpeopleContainer:hover {
  transform: scale(1.05);
}

/* name and date */
.dashboardName {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
}
.dashboardDate {
  position: absolute;
  color: #707070;
  top: 25px;
  right: 20px;
  font-size: 16px;
  font-weight: 500;
}

/* task section */
.taskContainer {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  height: calc(100vh - 180px);
  margin-left: 20px;
  overflow-x: auto;
}

.taskBox {
  width: 300px;
  background-color: #eef2f5;
  border-radius: 10px;
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
}

/* styling scrollbar */
.taskContainer::-webkit-scrollbar {
  height: 10px;
}
.taskContainer::-webkit-scrollbar-thumb {
  background: #9cb7c5;
  border-radius: 10px;
}

.taskBox::-webkit-scrollbar {
  width: 10px;
}
.taskBox::-webkit-scrollbar-thumb {
  background: #9cb7c5;
  border-radius: 10px;
}
/* inside task card */
.taskBoxHeadingBox {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.taskBoxUtilityBox {
  display: flex;
  gap: 20px;
}
.taskBoxTitle {
  font-size: 15px;
  font-weight: 600;
}
.colapsIcon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.addTodoIcon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.colapsIcon:hover,
.addTodoIcon:hover {
  transform: scale(1.1);
}

.copyToast {
  top: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6fff9;
  border: 1px solid #48c1b5;
  box-shadow: 0px 4px 16px 0px #100b2714;
  border-radius: 12px;
  right: 20px;
  padding: 15px 21px;
}
