.settingsContainer {
  display: flex;
}

.settingsBox {
  width: 80%;
}

.settingsBoxContainer {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  gap: 41px;
}
.settingsInputBoxContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-weight: 500;
  font-size: 20px;
}

.settingsInputBox {
  position: relative;
}
.input {
  width: 100%;
  padding: 12px 45px;
  border: 1.38px solid #d0d0d0;
  border-radius: 11.03px;
  color: #828282;
  font-size: 16px;
}
.input:focus {
  outline: none;
}
.settingsLeftIcon {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 30px;
}
.settingsRightIcon {
  position: absolute;
  top: 11px;
  right: 5px;
  width: 27px;
  cursor: pointer;
}
.settingsBtn {
  margin-top: 20px;
  width: 100%;
  background-color: #17a2b8;
  color: #ffffff;
  font-family: "Open Sans", serif;
  padding: 14px;
  text-align: center;
  border-radius: 64.13px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.settingsBtn:hover {
  background-color: #138496;
  box-shadow: 0 4px 15px rgba(23, 162, 184, 0.4);
}
